<div>
  <div class="flex flex-col gap-1 p-2">
    <label for="userName">UserName: </label>
    <input type="text" class="border" [(ngModel)]="username" />
    <label for="password">Password: </label>
    <input type="password" class="border" [(ngModel)]="password" />

    <p *ngIf="apiResult !== ''">ผลลัพท์: {{ apiResult }}</p>

    <div *ngIf="isUserLogIn === false" class="flex flex-col w-full gap-2">
      <button class="bg-blue-500" (click)="login(username, password)">
        Login
      </button>
      <button class="bg-green-500" (click)="register(username, password)">
        Register
      </button>
    </div>

    <div *ngIf="isUserLogIn === true" class="flex flex-col w-full gap-2">
      <button class="bg-red-500" (click)="logout()">logout</button>
    </div>
  </div>
</div>

<div class="w-full mx-auto p-10 max-w-[500px]">
  <h1 class="text-xl font-bold pb-2">todos:</h1>
  <div class="flex items-center gap-2">
    <input
      placeholder="todo"
      class="w-full h-10 text-sm border px-2 py-1"
      [(ngModel)]="todoInput"
    />
    <button (click)="addTodo()" class="bg-emerald-400 p-2">add</button>
  </div>

  <div
    *ngIf="todos.length > 0"
    class="my-10 flex flex-col gap-2 h-[500px] overflow-hidden overflow-y-auto"
  >
    <div *ngFor="let todo of todos" class="h-10 w-full">
      <li
        class="w-full bg-blue-400 flex h-10 items-center p-2"
        [ngStyle]="{ opacity: todo.done ? 0.5 : 1 }"
      >
        <span class="flex-1">{{ todo.title }} </span>
        <div class="flex gap-1">
          <button class="bg-red-400" (click)="deleteTodo(todo.id)">
            delete
          </button>
          <button
            class="bg-green-400"
            [disabled]="todo.done"
            (click)="makeTodoDone(todo.id)"
          >
            done
          </button>
          <button
            class="bg-cyan-400"
            [disabled]="todo.done"
            (click)="editTodo(todo)"
          >
            edit
          </button>
        </div>
      </li>
    </div>
  </div>
</div>

<div
  *ngIf="openModal && selectedTodo !== null"
  class="w-screen h-screen bg-slate-400/30 flex justify-center items-center fixed top-0 left-0"
>
  <div
    class="w-[500px] h-[500px] rounded-lg bg-slate-900 p-2 flex flex-col justify-between"
  >
    <h1 class="text-white font-bold text-3xl text-center w-full">Edit todo</h1>
    <input
      class="bg-white px-2 py-1 w-full h-10 text-black text-sm"
      [(ngModel)]="selectedTodo.title"
    />
    <div class="w-full flex gap-2 justify-center">
      <button
        class="p-2 text-base text-white bg-green-500"
        (click)="saveTodo()"
      >
        Save
      </button>
      <button
        class="p-2 text-base text-white bg-red-500"
        (click)="closeModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
